In [1]:
import pandas as pd
import numpy as np

In [4]:
kcbert_voc_high = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\kcbert_voc_high.npy")

kcbert_sen_high = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\kcbert_sen_high.npy")

In [ ]:
kcbert_voc_ = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\kcbert_voc_high.npy")
kcbert_sen_high = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\kcbert_sen_high.npy")

In [ ]:
kcbert_voc_high = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\kcbert_voc_high.npy")
kcbert_sen_high = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\kcbert_sen_high.npy")

In [5]:
from sklearn.metrics.pairwise import cosine_similarity

cos_dis = cosine_similarity(kcbert_voc_high, kcbert_sen_high)

In [6]:
cos_dis

array([[0.34723586, 0.39845413, 0.41970447, ..., 0.6541117 , 0.64895934,
        0.6638126 ],
       [0.3059122 , 0.4201251 , 0.37470824, ..., 0.59626055, 0.5730733 ,
        0.5949816 ],
       [0.29847404, 0.4182073 , 0.4069809 , ..., 0.6967054 , 0.5324697 ,
        0.5852834 ],
       ...,
       [0.23352167, 0.35841036, 0.34090266, ..., 0.6276283 , 0.5542955 ,
        0.4913762 ],
       [0.31154373, 0.35210568, 0.3618356 , ..., 0.6178353 , 0.6235044 ,
        0.5876782 ],
       [0.29131845, 0.36335778, 0.3540162 , ..., 0.53931445, 0.49277005,
        0.6286705 ]], dtype=float32)

In [7]:
cos_dis_same = []

for i in range(len(cos_dis)):
    same = cos_dis[i][i]
    #print(same)
    cos_dis_same.append([i, same])

In [8]:
cos_dis_same_df = pd.DataFrame(cos_dis_same, columns=["index","자기자신유사도"])

In [9]:
cos_dis_same_df

     index   자기자신유사도
0        0  0.347236
1        1  0.420125
2        2  0.406981
3        3  0.368167
4        4  0.376649
..     ...       ...
195    195  0.671956
196    196  0.623226
197    197  0.627628
198    198  0.623504
199    199  0.628671

[200 rows x 2 columns]

In [10]:
same_mean = np.mean(same)
same_mean

0.6286705

In [11]:
cos_dis_list = cos_dis.tolist()

In [12]:
from tqdm import tqdm
self_orders=[]

for i in tqdm(range(len(cos_dis))):
    self_num=cos_dis_list[i][i]
    case=cos_dis_list[i]
    new_case=sorted(case,reverse=True)
    self_order=new_case.index(self_num)
    
    self_case=[str(i)+'번째 자기자신 순서와의 유사도 등수',int(self_order) + 1]
    self_orders.append(self_case)

100%|██████████| 200/200 [00:00<00:00, 100054.96it/s]

In [13]:
self_orders

[['0번째 자기자신 순서와의 유사도 등수', 200],
 ['1번째 자기자신 순서와의 유사도 등수', 196],
 ['2번째 자기자신 순서와의 유사도 등수', 199],
 ['3번째 자기자신 순서와의 유사도 등수', 190],
 ['4번째 자기자신 순서와의 유사도 등수', 186],
 ['5번째 자기자신 순서와의 유사도 등수', 182],
 ['6번째 자기자신 순서와의 유사도 등수', 189],
 ['7번째 자기자신 순서와의 유사도 등수', 96],
 ['8번째 자기자신 순서와의 유사도 등수', 88],
 ['9번째 자기자신 순서와의 유사도 등수', 60],
 ['10번째 자기자신 순서와의 유사도 등수', 116],
 ['11번째 자기자신 순서와의 유사도 등수', 143],
 ['12번째 자기자신 순서와의 유사도 등수', 102],
 ['13번째 자기자신 순서와의 유사도 등수', 94],
 ['14번째 자기자신 순서와의 유사도 등수', 165],
 ['15번째 자기자신 순서와의 유사도 등수', 169],
 ['16번째 자기자신 순서와의 유사도 등수', 1],
 ['17번째 자기자신 순서와의 유사도 등수', 101],
 ['18번째 자기자신 순서와의 유사도 등수', 5],
 ['19번째 자기자신 순서와의 유사도 등수', 15],
 ['20번째 자기자신 순서와의 유사도 등수', 15],
 ['21번째 자기자신 순서와의 유사도 등수', 9],
 ['22번째 자기자신 순서와의 유사도 등수', 69],
 ['23번째 자기자신 순서와의 유사도 등수', 97],
 ['24번째 자기자신 순서와의 유사도 등수', 140],
 ['25번째 자기자신 순서와의 유사도 등수', 33],
 ['26번째 자기자신 순서와의 유사도 등수', 14],
 ['27번째 자기자신 순서와의 유사도 등수', 2],
 ['28번째 자기자신 순서와의 유사도 등수', 18],
 ['29번째 자기자신 순서와의 유사도 등수', 16],
 ['30번째 자기자신 순서와의 유사도 등수', 67],
 ['31번째 자기자신 순서와의 유사도 등수', 12],
 ['32번째 자기자신 순서와의 유사도 등수', 6],
 ['33번째 자기자신 순서와의 유사도 등수', 3],
 ['34번째 자기자신 순서와의 유사도 등수', 93],
 ['35번째 자기자신 순서와의 유사도 등수', 33],
 ['36번째 자기자신 순서와의 유사도 등수', 3],
 ['37번째 자기자신 순서와의 유사도 등수', 33],
 ['38번째 자기자신 순서와의 유사도 등수', 16],
 ['39번째 자기자신 순서와의 유사도 등수', 56],
 ['40번째 자기자신 순서와의 유사도 등수', 23],
 ['41번째 자기자신 순서와의 유사도 등수', 17],
 ['42번째 자기자신 순서와의 유사도 등수', 20],
 ['43번째 자기자신 순서와의 유사도 등수', 6],
 ['44번째 자기자신 순서와의 유사도 등수', 25],
 ['45번째 자기자신 순서와의 유사도 등수', 76],
 ['46번째 자기자신 순서와의 유사도 등수', 8],
 ['47번째 자기자신 순서와의 유사도 등수', 32],
 ['48번째 자기자신 순서와의 유사도 등수', 1],
 ['49번째 자기자신 순서와의 유사도 등수', 1],
 ['50번째 자기자신 순서와의 유사도 등수', 29],
 ['51번째 자기자신 순서와의 유사도 등수', 6],
 ['52번째 자기자신 순서와의 유사도 등수', 32],
 ['53번째 자기자신 순서와의 유사도 등수', 21],
 ['54번째 자기자신 순서와의 유사도 등수', 1],
 ['55번째 자기자신 순서와의 유사도 등수', 146],
 ['56번째 자기자신 순서와의 유사도 등수', 2],
 ['57번째 자기자신 순서와의 유사도 등수', 78],
 ['58번째 자기자신 순서와의 유사도 등수', 56],
 ['59번째 자기자신 순서와의 유사도 등수', 1],
 ['60번째 자기자신 순서와의 유사도 등수', 49],
 ['61번째 자기자신 순서와의 유사도 등수', 1],
 ['62번째 자기자신 순서와의 유사도 등수', 1],
 ['63번째 자기자신 순서와의 유사도 등수', 131],
 ['64번째 자기자신 순서와의 유사도 등수', 8],
 ['65번째 자기자신 순서와의 유사도 등수', 116],
 ['66번째 자기자신 순서와의 유사도 등수', 1],
 ['67번째 자기자신 순서와의 유사도 등수', 19],
 ['68번째 자기자신 순서와의 유사도 등수', 16],
 ['69번째 자기자신 순서와의 유사도 등수', 5],
 ['70번째 자기자신 순서와의 유사도 등수', 95],
 ['71번째 자기자신 순서와의 유사도 등수', 3],
 ['72번째 자기자신 순서와의 유사도 등수', 3],
 ['73번째 자기자신 순서와의 유사도 등수', 23],
 ['74번째 자기자신 순서와의 유사도 등수', 2],
 ['75번째 자기자신 순서와의 유사도 등수', 2],
 ['76번째 자기자신 순서와의 유사도 등수', 4],
 ['77번째 자기자신 순서와의 유사도 등수', 2],
 ['78번째 자기자신 순서와의 유사도 등수', 16],
 ['79번째 자기자신 순서와의 유사도 등수', 13],
 ['80번째 자기자신 순서와의 유사도 등수', 36],
 ['81번째 자기자신 순서와의 유사도 등수', 11],
 ['82번째 자기자신 순서와의 유사도 등수', 97],
 ['83번째 자기자신 순서와의 유사도 등수', 49],
 ['84번째 자기자신 순서와의 유사도 등수', 2],
 ['85번째 자기자신 순서와의 유사도 등수', 77],
 ['86번째 자기자신 순서와의 유사도 등수', 69],
 ['87번째 자기자신 순서와의 유사도 등수', 1],
 ['88번째 자기자신 순서와의 유사도 등수', 9],
 ['89번째 자기자신 순서와의 유사도 등수', 1],
 ['90번째 자기자신 순서와의 유사도 등수', 24],
 ['91번째 자기자신 순서와의 유사도 등수', 2],
 ['92번째 자기자신 순서와의 유사도 등수', 5],
 ['93번째 자기자신 순서와의 유사도 등수', 2],
 ['94번째 자기자신 순서와의 유사도 등수', 45],
 ['95번째 자기자신 순서와의 유사도 등수', 1],
 ['96번째 자기자신 순서와의 유사도 등수', 55],
 ['97번째 자기자신 순서와의 유사도 등수', 53],
 ['98번째 자기자신 순서와의 유사도 등수', 67],
 ['99번째 자기자신 순서와의 유사도 등수', 1],
 ['100번째 자기자신 순서와의 유사도 등수', 4],
 ['101번째 자기자신 순서와의 유사도 등수', 44],
 ['102번째 자기자신 순서와의 유사도 등수', 1],
 ['103번째 자기자신 순서와의 유사도 등수', 22],
 ['104번째 자기자신 순서와의 유사도 등수', 4],
 ['105번째 자기자신 순서와의 유사도 등수', 9],
 ['106번째 자기자신 순서와의 유사도 등수', 68],
 ['107번째 자기자신 순서와의 유사도 등수', 1],
 ['108번째 자기자신 순서와의 유사도 등수', 166],
 ['109번째 자기자신 순서와의 유사도 등수', 105],
 ['110번째 자기자신 순서와의 유사도 등수', 1],
 ['111번째 자기자신 순서와의 유사도 등수', 1],
 ['112번째 자기자신 순서와의 유사도 등수', 21],
 ['113번째 자기자신 순서와의 유사도 등수', 4],
 ['114번째 자기자신 순서와의 유사도 등수', 132],
 ['115번째 자기자신 순서와의 유사도 등수', 9],
 ['116번째 자기자신 순서와의 유사도 등수', 1],
 ['117번째 자기자신 순서와의 유사도 등수', 1],
 ['118번째 자기자신 순서와의 유사도 등수', 20],
 ['119번째 자기자신 순서와의 유사도 등수', 6],
 ['120번째 자기자신 순서와의 유사도 등수', 49],
 ['121번째 자기자신 순서와의 유사도 등수', 1],
 ['122번째 자기자신 순서와의 유사도 등수', 1],
 ['123번째 자기자신 순서와의 유사도 등수', 25],
 ['124번째 자기자신 순서와의 유사도 등수', 26],
 ['125번째 자기자신 순서와의 유사도 등수', 1],
 ['126번째 자기자신 순서와의 유사도 등수', 9],
 ['127번째 자기자신 순서와의 유사도 등수', 1],
 ['128번째 자기자신 순서와의 유사도 등수', 14],
 ['129번째 자기자신 순서와의 유사도 등수', 1],
 ['130번째 자기자신 순서와의 유사도 등수', 2],
 ['131번째 자기자신 순서와의 유사도 등수', 3],
 ['132번째 자기자신 순서와의 유사도 등수', 1],
 ['133번째 자기자신 순서와의 유사도 등수', 1],
 ['134번째 자기자신 순서와의 유사도 등수', 30],
 ['135번째 자기자신 순서와의 유사도 등수', 1],
 ['136번째 자기자신 순서와의 유사도 등수', 19],
 ['137번째 자기자신 순서와의 유사도 등수', 3],
 ['138번째 자기자신 순서와의 유사도 등수', 1],
 ['139번째 자기자신 순서와의 유사도 등수', 138],
 ['140번째 자기자신 순서와의 유사도 등수', 1],
 ['141번째 자기자신 순서와의 유사도 등수', 26],
 ['142번째 자기자신 순서와의 유사도 등수', 1],
 ['143번째 자기자신 순서와의 유사도 등수', 3],
 ['144번째 자기자신 순서와의 유사도 등수', 5],
 ['145번째 자기자신 순서와의 유사도 등수', 1],
 ['146번째 자기자신 순서와의 유사도 등수', 4],
 ['147번째 자기자신 순서와의 유사도 등수', 22],
 ['148번째 자기자신 순서와의 유사도 등수', 3],
 ['149번째 자기자신 순서와의 유사도 등수', 4],
 ['150번째 자기자신 순서와의 유사도 등수', 1],
 ['151번째 자기자신 순서와의 유사도 등수', 102],
 ['152번째 자기자신 순서와의 유사도 등수', 1],
 ['153번째 자기자신 순서와의 유사도 등수', 5],
 ['154번째 자기자신 순서와의 유사도 등수', 1],
 ['155번째 자기자신 순서와의 유사도 등수', 1],
 ['156번째 자기자신 순서와의 유사도 등수', 31],
 ['157번째 자기자신 순서와의 유사도 등수', 5],
 ['158번째 자기자신 순서와의 유사도 등수', 1],
 ['159번째 자기자신 순서와의 유사도 등수', 51],
 ['160번째 자기자신 순서와의 유사도 등수', 4],
 ['161번째 자기자신 순서와의 유사도 등수', 1],
 ['162번째 자기자신 순서와의 유사도 등수', 1],
 ['163번째 자기자신 순서와의 유사도 등수', 5],
 ['164번째 자기자신 순서와의 유사도 등수', 56],
 ['165번째 자기자신 순서와의 유사도 등수', 1],
 ['166번째 자기자신 순서와의 유사도 등수', 1],
 ['167번째 자기자신 순서와의 유사도 등수', 5],
 ['168번째 자기자신 순서와의 유사도 등수', 1],
 ['169번째 자기자신 순서와의 유사도 등수', 134],
 ['170번째 자기자신 순서와의 유사도 등수', 2],
 ['171번째 자기자신 순서와의 유사도 등수', 55],
 ['172번째 자기자신 순서와의 유사도 등수', 3],
 ['173번째 자기자신 순서와의 유사도 등수', 54],
 ['174번째 자기자신 순서와의 유사도 등수', 1],
 ['175번째 자기자신 순서와의 유사도 등수', 2],
 ['176번째 자기자신 순서와의 유사도 등수', 25],
 ['177번째 자기자신 순서와의 유사도 등수', 175],
 ['178번째 자기자신 순서와의 유사도 등수', 1],
 ['179번째 자기자신 순서와의 유사도 등수', 1],
 ['180번째 자기자신 순서와의 유사도 등수', 21],
 ['181번째 자기자신 순서와의 유사도 등수', 1],
 ['182번째 자기자신 순서와의 유사도 등수', 1],
 ['183번째 자기자신 순서와의 유사도 등수', 1],
 ['184번째 자기자신 순서와의 유사도 등수', 1],
 ['185번째 자기자신 순서와의 유사도 등수', 2],
 ['186번째 자기자신 순서와의 유사도 등수', 85],
 ['187번째 자기자신 순서와의 유사도 등수', 1],
 ['188번째 자기자신 순서와의 유사도 등수', 1],
 ['189번째 자기자신 순서와의 유사도 등수', 3],
 ['190번째 자기자신 순서와의 유사도 등수', 1],
 ['191번째 자기자신 순서와의 유사도 등수', 3],
 ['192번째 자기자신 순서와의 유사도 등수', 1],
 ['193번째 자기자신 순서와의 유사도 등수', 74],
 ['194번째 자기자신 순서와의 유사도 등수', 4],
 ['195번째 자기자신 순서와의 유사도 등수', 6],
 ['196번째 자기자신 순서와의 유사도 등수', 1],
 ['197번째 자기자신 순서와의 유사도 등수', 8],
 ['198번째 자기자신 순서와의 유사도 등수', 21],
 ['199번째 자기자신 순서와의 유사도 등수', 2]]

In [14]:
self_orders_num = [i[1] for i in self_orders]
np.mean(self_orders_num)

34.56

In [15]:
self_orders_num

[200,
 196,
 199,
 190,
 186,
 182,
 189,
 96,
 88,
 60,
 116,
 143,
 102,
 94,
 165,
 169,
 1,
 101,
 5,
 15,
 15,
 9,
 69,
 97,
 140,
 33,
 14,
 2,
 18,
 16,
 67,
 12,
 6,
 3,
 93,
 33,
 3,
 33,
 16,
 56,
 23,
 17,
 20,
 6,
 25,
 76,
 8,
 32,
 1,
 1,
 29,
 6,
 32,
 21,
 1,
 146,
 2,
 78,
 56,
 1,
 49,
 1,
 1,
 131,
 8,
 116,
 1,
 19,
 16,
 5,
 95,
 3,
 3,
 23,
 2,
 2,
 4,
 2,
 16,
 13,
 36,
 11,
 97,
 49,
 2,
 77,
 69,
 1,
 9,
 1,
 24,
 2,
 5,
 2,
 45,
 1,
 55,
 53,
 67,
 1,
 4,
 44,
 1,
 22,
 4,
 9,
 68,
 1,
 166,
 105,
 1,
 1,
 21,
 4,
 132,
 9,
 1,
 1,
 20,
 6,
 49,
 1,
 1,
 25,
 26,
 1,
 9,
 1,
 14,
 1,
 2,
 3,
 1,
 1,
 30,
 1,
 19,
 3,
 1,
 138,
 1,
 26,
 1,
 3,
 5,
 1,
 4,
 22,
 3,
 4,
 1,
 102,
 1,
 5,
 1,
 1,
 31,
 5,
 1,
 51,
 4,
 1,
 1,
 5,
 56,
 1,
 1,
 5,
 1,
 134,
 2,
 55,
 3,
 54,
 1,
 2,
 25,
 175,
 1,
 1,
 21,
 1,
 1,
 1,
 1,
 2,
 85,
 1,
 1,
 3,
 1,
 3,
 1,
 74,
 4,
 6,
 1,
 8,
 21,
 2]

In [16]:
self_orders_num_df = pd.DataFrame(self_orders_num,columns = ["등수"])

In [17]:
self_orders_num_df

      등수
0    200
1    196
2    199
3    190
4    186
..   ...
195    6
196    1
197    8
198   21
199    2

[200 rows x 1 columns]

In [18]:
np.mean(self_orders_num)

34.56

In [19]:
high_concat = pd.concat([cos_dis_same_df, self_orders_num_df], axis=1)

In [20]:
high_concat.to_excel(r'C:\Users\user\Desktop\학술대회 2차\결과물\kcbert_concat_high.xlsx', index=False)