In [1]:
import pandas as pd
import numpy as np

In [2]:
sbert_voc_low = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\sbert_voc_low.npy")
sbert_sen_low = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\sbert_sen_low.npy")

In [3]:
from sklearn.metrics.pairwise import cosine_similarity

cos_dis = cosine_similarity(sbert_voc_low, sbert_sen_low)

In [4]:
cos_dis

array([[0.670313  , 0.32349518, 0.4587415 , ..., 0.37031767, 0.3257706 ,
        0.24375337],
       [0.27377704, 0.4346874 , 0.38234589, ..., 0.1927659 , 0.22808987,
        0.15968879],
       [0.1207691 , 0.1781541 , 0.13014218, ..., 0.18318895, 0.1907873 ,
        0.22486436],
       ...,
       [0.36717978, 0.1521828 , 0.26830268, ..., 0.5122612 , 0.09917489,
        0.0943692 ],
       [0.26017618, 0.29502347, 0.34853247, ..., 0.2568682 , 0.9090506 ,
        0.24507543],
       [0.13099456, 0.20958634, 0.18177927, ..., 0.21240324, 0.08480754,
        0.52633774]], dtype=float32)

In [5]:
cos_dis_same = []

for i in range(len(cos_dis)):
    same = cos_dis[i][i]
    #print(same)
    cos_dis_same.append([i, same])

In [6]:
cos_dis_same_df = pd.DataFrame(cos_dis_same, columns=["index","자기자신유사도"])

In [7]:
cos_dis_same_df

     index   자기자신유사도
0        0  0.670313
1        1  0.434687
2        2  0.130142
3        3  0.753826
4        4  0.461680
..     ...       ...
195    195  0.535593
196    196  0.343083
197    197  0.512261
198    198  0.909051
199    199  0.526338

[200 rows x 2 columns]

In [8]:
same_mean = np.mean(same)
same_mean

0.52633774

In [9]:
cos_dis_list = cos_dis.tolist()

In [10]:
from tqdm import tqdm
self_orders=[]

for i in tqdm(range(len(cos_dis))):
    self_num=cos_dis_list[i][i]
    case=cos_dis_list[i]
    new_case=sorted(case,reverse=True)
    self_order=new_case.index(self_num)
    
    self_case=[str(i)+'번째 자기자신 순서와의 유사도 등수',int(self_order) + 1]
    self_orders.append(self_case)

100%|██████████| 200/200 [00:00<00:00, 100019.17it/s]

In [11]:
self_orders

[['0번째 자기자신 순서와의 유사도 등수', 1],
 ['1번째 자기자신 순서와의 유사도 등수', 23],
 ['2번째 자기자신 순서와의 유사도 등수', 79],
 ['3번째 자기자신 순서와의 유사도 등수', 1],
 ['4번째 자기자신 순서와의 유사도 등수', 5],
 ['5번째 자기자신 순서와의 유사도 등수', 55],
 ['6번째 자기자신 순서와의 유사도 등수', 3],
 ['7번째 자기자신 순서와의 유사도 등수', 2],
 ['8번째 자기자신 순서와의 유사도 등수', 33],
 ['9번째 자기자신 순서와의 유사도 등수', 1],
 ['10번째 자기자신 순서와의 유사도 등수', 93],
 ['11번째 자기자신 순서와의 유사도 등수', 1],
 ['12번째 자기자신 순서와의 유사도 등수', 2],
 ['13번째 자기자신 순서와의 유사도 등수', 36],
 ['14번째 자기자신 순서와의 유사도 등수', 3],
 ['15번째 자기자신 순서와의 유사도 등수', 1],
 ['16번째 자기자신 순서와의 유사도 등수', 4],
 ['17번째 자기자신 순서와의 유사도 등수', 6],
 ['18번째 자기자신 순서와의 유사도 등수', 1],
 ['19번째 자기자신 순서와의 유사도 등수', 35],
 ['20번째 자기자신 순서와의 유사도 등수', 1],
 ['21번째 자기자신 순서와의 유사도 등수', 38],
 ['22번째 자기자신 순서와의 유사도 등수', 2],
 ['23번째 자기자신 순서와의 유사도 등수', 1],
 ['24번째 자기자신 순서와의 유사도 등수', 1],
 ['25번째 자기자신 순서와의 유사도 등수', 1],
 ['26번째 자기자신 순서와의 유사도 등수', 8],
 ['27번째 자기자신 순서와의 유사도 등수', 1],
 ['28번째 자기자신 순서와의 유사도 등수', 1],
 ['29번째 자기자신 순서와의 유사도 등수', 1],
 ['30번째 자기자신 순서와의 유사도 등수', 1],
 ['31번째 자기자신 순서와의 유사도 등수', 1],
 ['32번째 자기자신 순서와의 유사도 등수', 7],
 ['33번째 자기자신 순서와의 유사도 등수', 1],
 ['34번째 자기자신 순서와의 유사도 등수', 6],
 ['35번째 자기자신 순서와의 유사도 등수', 2],
 ['36번째 자기자신 순서와의 유사도 등수', 2],
 ['37번째 자기자신 순서와의 유사도 등수', 7],
 ['38번째 자기자신 순서와의 유사도 등수', 58],
 ['39번째 자기자신 순서와의 유사도 등수', 4],
 ['40번째 자기자신 순서와의 유사도 등수', 12],
 ['41번째 자기자신 순서와의 유사도 등수', 2],
 ['42번째 자기자신 순서와의 유사도 등수', 4],
 ['43번째 자기자신 순서와의 유사도 등수', 34],
 ['44번째 자기자신 순서와의 유사도 등수', 1],
 ['45번째 자기자신 순서와의 유사도 등수', 4],
 ['46번째 자기자신 순서와의 유사도 등수', 1],
 ['47번째 자기자신 순서와의 유사도 등수', 1],
 ['48번째 자기자신 순서와의 유사도 등수', 1],
 ['49번째 자기자신 순서와의 유사도 등수', 1],
 ['50번째 자기자신 순서와의 유사도 등수', 1],
 ['51번째 자기자신 순서와의 유사도 등수', 1],
 ['52번째 자기자신 순서와의 유사도 등수', 22],
 ['53번째 자기자신 순서와의 유사도 등수', 3],
 ['54번째 자기자신 순서와의 유사도 등수', 13],
 ['55번째 자기자신 순서와의 유사도 등수', 1],
 ['56번째 자기자신 순서와의 유사도 등수', 1],
 ['57번째 자기자신 순서와의 유사도 등수', 2],
 ['58번째 자기자신 순서와의 유사도 등수', 77],
 ['59번째 자기자신 순서와의 유사도 등수', 5],
 ['60번째 자기자신 순서와의 유사도 등수', 2],
 ['61번째 자기자신 순서와의 유사도 등수', 1],
 ['62번째 자기자신 순서와의 유사도 등수', 1],
 ['63번째 자기자신 순서와의 유사도 등수', 1],
 ['64번째 자기자신 순서와의 유사도 등수', 1],
 ['65번째 자기자신 순서와의 유사도 등수', 1],
 ['66번째 자기자신 순서와의 유사도 등수', 1],
 ['67번째 자기자신 순서와의 유사도 등수', 15],
 ['68번째 자기자신 순서와의 유사도 등수', 10],
 ['69번째 자기자신 순서와의 유사도 등수', 2],
 ['70번째 자기자신 순서와의 유사도 등수', 1],
 ['71번째 자기자신 순서와의 유사도 등수', 5],
 ['72번째 자기자신 순서와의 유사도 등수', 2],
 ['73번째 자기자신 순서와의 유사도 등수', 160],
 ['74번째 자기자신 순서와의 유사도 등수', 1],
 ['75번째 자기자신 순서와의 유사도 등수', 2],
 ['76번째 자기자신 순서와의 유사도 등수', 16],
 ['77번째 자기자신 순서와의 유사도 등수', 1],
 ['78번째 자기자신 순서와의 유사도 등수', 9],
 ['79번째 자기자신 순서와의 유사도 등수', 1],
 ['80번째 자기자신 순서와의 유사도 등수', 1],
 ['81번째 자기자신 순서와의 유사도 등수', 1],
 ['82번째 자기자신 순서와의 유사도 등수', 3],
 ['83번째 자기자신 순서와의 유사도 등수', 124],
 ['84번째 자기자신 순서와의 유사도 등수', 2],
 ['85번째 자기자신 순서와의 유사도 등수', 1],
 ['86번째 자기자신 순서와의 유사도 등수', 9],
 ['87번째 자기자신 순서와의 유사도 등수', 86],
 ['88번째 자기자신 순서와의 유사도 등수', 3],
 ['89번째 자기자신 순서와의 유사도 등수', 2],
 ['90번째 자기자신 순서와의 유사도 등수', 1],
 ['91번째 자기자신 순서와의 유사도 등수', 5],
 ['92번째 자기자신 순서와의 유사도 등수', 3],
 ['93번째 자기자신 순서와의 유사도 등수', 1],
 ['94번째 자기자신 순서와의 유사도 등수', 1],
 ['95번째 자기자신 순서와의 유사도 등수', 7],
 ['96번째 자기자신 순서와의 유사도 등수', 35],
 ['97번째 자기자신 순서와의 유사도 등수', 1],
 ['98번째 자기자신 순서와의 유사도 등수', 1],
 ['99번째 자기자신 순서와의 유사도 등수', 1],
 ['100번째 자기자신 순서와의 유사도 등수', 4],
 ['101번째 자기자신 순서와의 유사도 등수', 13],
 ['102번째 자기자신 순서와의 유사도 등수', 2],
 ['103번째 자기자신 순서와의 유사도 등수', 2],
 ['104번째 자기자신 순서와의 유사도 등수', 1],
 ['105번째 자기자신 순서와의 유사도 등수', 2],
 ['106번째 자기자신 순서와의 유사도 등수', 5],
 ['107번째 자기자신 순서와의 유사도 등수', 1],
 ['108번째 자기자신 순서와의 유사도 등수', 1],
 ['109번째 자기자신 순서와의 유사도 등수', 1],
 ['110번째 자기자신 순서와의 유사도 등수', 1],
 ['111번째 자기자신 순서와의 유사도 등수', 2],
 ['112번째 자기자신 순서와의 유사도 등수', 15],
 ['113번째 자기자신 순서와의 유사도 등수', 1],
 ['114번째 자기자신 순서와의 유사도 등수', 1],
 ['115번째 자기자신 순서와의 유사도 등수', 17],
 ['116번째 자기자신 순서와의 유사도 등수', 3],
 ['117번째 자기자신 순서와의 유사도 등수', 1],
 ['118번째 자기자신 순서와의 유사도 등수', 1],
 ['119번째 자기자신 순서와의 유사도 등수', 1],
 ['120번째 자기자신 순서와의 유사도 등수', 3],
 ['121번째 자기자신 순서와의 유사도 등수', 1],
 ['122번째 자기자신 순서와의 유사도 등수', 1],
 ['123번째 자기자신 순서와의 유사도 등수', 1],
 ['124번째 자기자신 순서와의 유사도 등수', 5],
 ['125번째 자기자신 순서와의 유사도 등수', 69],
 ['126번째 자기자신 순서와의 유사도 등수', 4],
 ['127번째 자기자신 순서와의 유사도 등수', 2],
 ['128번째 자기자신 순서와의 유사도 등수', 1],
 ['129번째 자기자신 순서와의 유사도 등수', 6],
 ['130번째 자기자신 순서와의 유사도 등수', 1],
 ['131번째 자기자신 순서와의 유사도 등수', 1],
 ['132번째 자기자신 순서와의 유사도 등수', 1],
 ['133번째 자기자신 순서와의 유사도 등수', 5],
 ['134번째 자기자신 순서와의 유사도 등수', 1],
 ['135번째 자기자신 순서와의 유사도 등수', 1],
 ['136번째 자기자신 순서와의 유사도 등수', 1],
 ['137번째 자기자신 순서와의 유사도 등수', 1],
 ['138번째 자기자신 순서와의 유사도 등수', 1],
 ['139번째 자기자신 순서와의 유사도 등수', 2],
 ['140번째 자기자신 순서와의 유사도 등수', 1],
 ['141번째 자기자신 순서와의 유사도 등수', 2],
 ['142번째 자기자신 순서와의 유사도 등수', 73],
 ['143번째 자기자신 순서와의 유사도 등수', 1],
 ['144번째 자기자신 순서와의 유사도 등수', 2],
 ['145번째 자기자신 순서와의 유사도 등수', 49],
 ['146번째 자기자신 순서와의 유사도 등수', 11],
 ['147번째 자기자신 순서와의 유사도 등수', 1],
 ['148번째 자기자신 순서와의 유사도 등수', 6],
 ['149번째 자기자신 순서와의 유사도 등수', 7],
 ['150번째 자기자신 순서와의 유사도 등수', 1],
 ['151번째 자기자신 순서와의 유사도 등수', 1],
 ['152번째 자기자신 순서와의 유사도 등수', 1],
 ['153번째 자기자신 순서와의 유사도 등수', 1],
 ['154번째 자기자신 순서와의 유사도 등수', 7],
 ['155번째 자기자신 순서와의 유사도 등수', 2],
 ['156번째 자기자신 순서와의 유사도 등수', 1],
 ['157번째 자기자신 순서와의 유사도 등수', 3],
 ['158번째 자기자신 순서와의 유사도 등수', 1],
 ['159번째 자기자신 순서와의 유사도 등수', 8],
 ['160번째 자기자신 순서와의 유사도 등수', 1],
 ['161번째 자기자신 순서와의 유사도 등수', 1],
 ['162번째 자기자신 순서와의 유사도 등수', 1],
 ['163번째 자기자신 순서와의 유사도 등수', 1],
 ['164번째 자기자신 순서와의 유사도 등수', 32],
 ['165번째 자기자신 순서와의 유사도 등수', 12],
 ['166번째 자기자신 순서와의 유사도 등수', 1],
 ['167번째 자기자신 순서와의 유사도 등수', 1],
 ['168번째 자기자신 순서와의 유사도 등수', 1],
 ['169번째 자기자신 순서와의 유사도 등수', 78],
 ['170번째 자기자신 순서와의 유사도 등수', 3],
 ['171번째 자기자신 순서와의 유사도 등수', 1],
 ['172번째 자기자신 순서와의 유사도 등수', 1],
 ['173번째 자기자신 순서와의 유사도 등수', 1],
 ['174번째 자기자신 순서와의 유사도 등수', 1],
 ['175번째 자기자신 순서와의 유사도 등수', 1],
 ['176번째 자기자신 순서와의 유사도 등수', 1],
 ['177번째 자기자신 순서와의 유사도 등수', 10],
 ['178번째 자기자신 순서와의 유사도 등수', 1],
 ['179번째 자기자신 순서와의 유사도 등수', 1],
 ['180번째 자기자신 순서와의 유사도 등수', 31],
 ['181번째 자기자신 순서와의 유사도 등수', 5],
 ['182번째 자기자신 순서와의 유사도 등수', 1],
 ['183번째 자기자신 순서와의 유사도 등수', 1],
 ['184번째 자기자신 순서와의 유사도 등수', 1],
 ['185번째 자기자신 순서와의 유사도 등수', 9],
 ['186번째 자기자신 순서와의 유사도 등수', 1],
 ['187번째 자기자신 순서와의 유사도 등수', 1],
 ['188번째 자기자신 순서와의 유사도 등수', 36],
 ['189번째 자기자신 순서와의 유사도 등수', 1],
 ['190번째 자기자신 순서와의 유사도 등수', 1],
 ['191번째 자기자신 순서와의 유사도 등수', 1],
 ['192번째 자기자신 순서와의 유사도 등수', 1],
 ['193번째 자기자신 순서와의 유사도 등수', 1],
 ['194번째 자기자신 순서와의 유사도 등수', 1],
 ['195번째 자기자신 순서와의 유사도 등수', 1],
 ['196번째 자기자신 순서와의 유사도 등수', 57],
 ['197번째 자기자신 순서와의 유사도 등수', 2],
 ['198번째 자기자신 순서와의 유사도 등수', 1],
 ['199번째 자기자신 순서와의 유사도 등수', 1]]

In [12]:
self_orders_num = [i[1] for i in self_orders]
np.mean(self_orders_num)

9.515

In [13]:
self_orders_num

[1,
 23,
 79,
 1,
 5,
 55,
 3,
 2,
 33,
 1,
 93,
 1,
 2,
 36,
 3,
 1,
 4,
 6,
 1,
 35,
 1,
 38,
 2,
 1,
 1,
 1,
 8,
 1,
 1,
 1,
 1,
 1,
 7,
 1,
 6,
 2,
 2,
 7,
 58,
 4,
 12,
 2,
 4,
 34,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 22,
 3,
 13,
 1,
 1,
 2,
 77,
 5,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 15,
 10,
 2,
 1,
 5,
 2,
 160,
 1,
 2,
 16,
 1,
 9,
 1,
 1,
 1,
 3,
 124,
 2,
 1,
 9,
 86,
 3,
 2,
 1,
 5,
 3,
 1,
 1,
 7,
 35,
 1,
 1,
 1,
 4,
 13,
 2,
 2,
 1,
 2,
 5,
 1,
 1,
 1,
 1,
 2,
 15,
 1,
 1,
 17,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 5,
 69,
 4,
 2,
 1,
 6,
 1,
 1,
 1,
 5,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 73,
 1,
 2,
 49,
 11,
 1,
 6,
 7,
 1,
 1,
 1,
 1,
 7,
 2,
 1,
 3,
 1,
 8,
 1,
 1,
 1,
 1,
 32,
 12,
 1,
 1,
 1,
 78,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 1,
 31,
 5,
 1,
 1,
 1,
 9,
 1,
 1,
 36,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 57,
 2,
 1,
 1]

In [14]:
self_orders_num_df = pd.DataFrame(self_orders_num,columns = ["등수"])

In [15]:
self_orders_num_df

     등수
0     1
1    23
2    79
3     1
4     5
..   ..
195   1
196  57
197   2
198   1
199   1

[200 rows x 1 columns]

In [16]:
np.mean(self_orders_num)

9.515

In [17]:
low_concat = pd.concat([cos_dis_same_df, self_orders_num_df], axis=1)

In [18]:
low_concat.to_excel(r'C:\Users\user\Desktop\학술대회 2차\결과물\sbert_concat_low.xlsx', index=False)