In [2]:
import pandas as pd
import numpy as np

In [3]:
sbert_voc_high = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\sbert_voc_high.npy")
sbert_sen_high = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\sbert_sen_high.npy")

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

cos_dis = cosine_similarity(sbert_voc_high, sbert_sen_high)

In [5]:
cos_dis

array([[ 0.405137  ,  0.33788076,  0.4584146 , ...,  0.40804315,
         0.3670919 ,  0.22421297],
       [ 0.43181342,  0.47388864,  0.33445698, ...,  0.2519679 ,
         0.3308366 ,  0.20303172],
       [ 0.3455229 ,  0.2510734 ,  0.3771846 , ...,  0.3413005 ,
         0.22409202,  0.08570233],
       ...,
       [ 0.20867053,  0.16410084,  0.27149758, ...,  0.5466726 ,
         0.23841144,  0.13859567],
       [-0.08339468, -0.0206958 ,  0.03768136, ...,  0.17341307,
         0.10009041,  0.1456765 ],
       [ 0.08057138,  0.05202783,  0.11239247, ...,  0.12596665,
         0.10053295,  0.4877005 ]], dtype=float32)

In [6]:
cos_dis_same = []

for i in range(len(cos_dis)):
    same = cos_dis[i][i]
    #print(same)
    cos_dis_same.append([i, same])

In [7]:
cos_dis_same_df = pd.DataFrame(cos_dis_same, columns=["index","자기자신유사도"])

In [8]:
cos_dis_same_df

     index   자기자신유사도
0        0  0.405137
1        1  0.473889
2        2  0.377185
3        3  0.271509
4        4  0.236443
..     ...       ...
195    195  0.613593
196    196  0.460153
197    197  0.546673
198    198  0.100090
199    199  0.487700

[200 rows x 2 columns]

In [9]:
same_mean = np.mean(same)
same_mean

0.4877005

In [10]:
cos_dis_list = cos_dis.tolist()

In [11]:
from tqdm import tqdm
self_orders=[]

for i in tqdm(range(len(cos_dis))):
    self_num=cos_dis_list[i][i]
    case=cos_dis_list[i]
    new_case=sorted(case,reverse=True)
    self_order=new_case.index(self_num)
    
    self_case=[str(i)+'번째 자기자신 순서와의 유사도 등수',int(self_order) + 1]
    self_orders.append(self_case)

100%|██████████| 200/200 [00:00<00:00, 100043.03it/s]

In [12]:
self_orders

[['0번째 자기자신 순서와의 유사도 등수', 32],
 ['1번째 자기자신 순서와의 유사도 등수', 4],
 ['2번째 자기자신 순서와의 유사도 등수', 7],
 ['3번째 자기자신 순서와의 유사도 등수', 14],
 ['4번째 자기자신 순서와의 유사도 등수', 21],
 ['5번째 자기자신 순서와의 유사도 등수', 4],
 ['6번째 자기자신 순서와의 유사도 등수', 10],
 ['7번째 자기자신 순서와의 유사도 등수', 2],
 ['8번째 자기자신 순서와의 유사도 등수', 1],
 ['9번째 자기자신 순서와의 유사도 등수', 1],
 ['10번째 자기자신 순서와의 유사도 등수', 10],
 ['11번째 자기자신 순서와의 유사도 등수', 2],
 ['12번째 자기자신 순서와의 유사도 등수', 17],
 ['13번째 자기자신 순서와의 유사도 등수', 1],
 ['14번째 자기자신 순서와의 유사도 등수', 10],
 ['15번째 자기자신 순서와의 유사도 등수', 14],
 ['16번째 자기자신 순서와의 유사도 등수', 1],
 ['17번째 자기자신 순서와의 유사도 등수', 9],
 ['18번째 자기자신 순서와의 유사도 등수', 1],
 ['19번째 자기자신 순서와의 유사도 등수', 2],
 ['20번째 자기자신 순서와의 유사도 등수', 1],
 ['21번째 자기자신 순서와의 유사도 등수', 3],
 ['22번째 자기자신 순서와의 유사도 등수', 1],
 ['23번째 자기자신 순서와의 유사도 등수', 6],
 ['24번째 자기자신 순서와의 유사도 등수', 6],
 ['25번째 자기자신 순서와의 유사도 등수', 4],
 ['26번째 자기자신 순서와의 유사도 등수', 1],
 ['27번째 자기자신 순서와의 유사도 등수', 1],
 ['28번째 자기자신 순서와의 유사도 등수', 1],
 ['29번째 자기자신 순서와의 유사도 등수', 2],
 ['30번째 자기자신 순서와의 유사도 등수', 3],
 ['31번째 자기자신 순서와의 유사도 등수', 6],
 ['32번째 자기자신 순서와의 유사도 등수', 6],
 ['33번째 자기자신 순서와의 유사도 등수', 2],
 ['34번째 자기자신 순서와의 유사도 등수', 1],
 ['35번째 자기자신 순서와의 유사도 등수', 1],
 ['36번째 자기자신 순서와의 유사도 등수', 11],
 ['37번째 자기자신 순서와의 유사도 등수', 1],
 ['38번째 자기자신 순서와의 유사도 등수', 1],
 ['39번째 자기자신 순서와의 유사도 등수', 14],
 ['40번째 자기자신 순서와의 유사도 등수', 1],
 ['41번째 자기자신 순서와의 유사도 등수', 7],
 ['42번째 자기자신 순서와의 유사도 등수', 7],
 ['43번째 자기자신 순서와의 유사도 등수', 3],
 ['44번째 자기자신 순서와의 유사도 등수', 1],
 ['45번째 자기자신 순서와의 유사도 등수', 1],
 ['46번째 자기자신 순서와의 유사도 등수', 2],
 ['47번째 자기자신 순서와의 유사도 등수', 17],
 ['48번째 자기자신 순서와의 유사도 등수', 1],
 ['49번째 자기자신 순서와의 유사도 등수', 1],
 ['50번째 자기자신 순서와의 유사도 등수', 4],
 ['51번째 자기자신 순서와의 유사도 등수', 4],
 ['52번째 자기자신 순서와의 유사도 등수', 1],
 ['53번째 자기자신 순서와의 유사도 등수', 1],
 ['54번째 자기자신 순서와의 유사도 등수', 1],
 ['55번째 자기자신 순서와의 유사도 등수', 149],
 ['56번째 자기자신 순서와의 유사도 등수', 1],
 ['57번째 자기자신 순서와의 유사도 등수', 21],
 ['58번째 자기자신 순서와의 유사도 등수', 2],
 ['59번째 자기자신 순서와의 유사도 등수', 1],
 ['60번째 자기자신 순서와의 유사도 등수', 27],
 ['61번째 자기자신 순서와의 유사도 등수', 2],
 ['62번째 자기자신 순서와의 유사도 등수', 1],
 ['63번째 자기자신 순서와의 유사도 등수', 7],
 ['64번째 자기자신 순서와의 유사도 등수', 16],
 ['65번째 자기자신 순서와의 유사도 등수', 100],
 ['66번째 자기자신 순서와의 유사도 등수', 1],
 ['67번째 자기자신 순서와의 유사도 등수', 1],
 ['68번째 자기자신 순서와의 유사도 등수', 30],
 ['69번째 자기자신 순서와의 유사도 등수', 2],
 ['70번째 자기자신 순서와의 유사도 등수', 1],
 ['71번째 자기자신 순서와의 유사도 등수', 1],
 ['72번째 자기자신 순서와의 유사도 등수', 8],
 ['73번째 자기자신 순서와의 유사도 등수', 1],
 ['74번째 자기자신 순서와의 유사도 등수', 9],
 ['75번째 자기자신 순서와의 유사도 등수', 4],
 ['76번째 자기자신 순서와의 유사도 등수', 1],
 ['77번째 자기자신 순서와의 유사도 등수', 42],
 ['78번째 자기자신 순서와의 유사도 등수', 146],
 ['79번째 자기자신 순서와의 유사도 등수', 1],
 ['80번째 자기자신 순서와의 유사도 등수', 1],
 ['81번째 자기자신 순서와의 유사도 등수', 3],
 ['82번째 자기자신 순서와의 유사도 등수', 40],
 ['83번째 자기자신 순서와의 유사도 등수', 1],
 ['84번째 자기자신 순서와의 유사도 등수', 1],
 ['85번째 자기자신 순서와의 유사도 등수', 2],
 ['86번째 자기자신 순서와의 유사도 등수', 4],
 ['87번째 자기자신 순서와의 유사도 등수', 31],
 ['88번째 자기자신 순서와의 유사도 등수', 1],
 ['89번째 자기자신 순서와의 유사도 등수', 2],
 ['90번째 자기자신 순서와의 유사도 등수', 40],
 ['91번째 자기자신 순서와의 유사도 등수', 3],
 ['92번째 자기자신 순서와의 유사도 등수', 1],
 ['93번째 자기자신 순서와의 유사도 등수', 1],
 ['94번째 자기자신 순서와의 유사도 등수', 1],
 ['95번째 자기자신 순서와의 유사도 등수', 1],
 ['96번째 자기자신 순서와의 유사도 등수', 6],
 ['97번째 자기자신 순서와의 유사도 등수', 2],
 ['98번째 자기자신 순서와의 유사도 등수', 5],
 ['99번째 자기자신 순서와의 유사도 등수', 1],
 ['100번째 자기자신 순서와의 유사도 등수', 1],
 ['101번째 자기자신 순서와의 유사도 등수', 6],
 ['102번째 자기자신 순서와의 유사도 등수', 1],
 ['103번째 자기자신 순서와의 유사도 등수', 2],
 ['104번째 자기자신 순서와의 유사도 등수', 1],
 ['105번째 자기자신 순서와의 유사도 등수', 3],
 ['106번째 자기자신 순서와의 유사도 등수', 14],
 ['107번째 자기자신 순서와의 유사도 등수', 1],
 ['108번째 자기자신 순서와의 유사도 등수', 84],
 ['109번째 자기자신 순서와의 유사도 등수', 6],
 ['110번째 자기자신 순서와의 유사도 등수', 1],
 ['111번째 자기자신 순서와의 유사도 등수', 1],
 ['112번째 자기자신 순서와의 유사도 등수', 24],
 ['113번째 자기자신 순서와의 유사도 등수', 2],
 ['114번째 자기자신 순서와의 유사도 등수', 36],
 ['115번째 자기자신 순서와의 유사도 등수', 3],
 ['116번째 자기자신 순서와의 유사도 등수', 1],
 ['117번째 자기자신 순서와의 유사도 등수', 1],
 ['118번째 자기자신 순서와의 유사도 등수', 2],
 ['119번째 자기자신 순서와의 유사도 등수', 1],
 ['120번째 자기자신 순서와의 유사도 등수', 3],
 ['121번째 자기자신 순서와의 유사도 등수', 1],
 ['122번째 자기자신 순서와의 유사도 등수', 2],
 ['123번째 자기자신 순서와의 유사도 등수', 14],
 ['124번째 자기자신 순서와의 유사도 등수', 19],
 ['125번째 자기자신 순서와의 유사도 등수', 1],
 ['126번째 자기자신 순서와의 유사도 등수', 3],
 ['127번째 자기자신 순서와의 유사도 등수', 1],
 ['128번째 자기자신 순서와의 유사도 등수', 32],
 ['129번째 자기자신 순서와의 유사도 등수', 1],
 ['130번째 자기자신 순서와의 유사도 등수', 6],
 ['131번째 자기자신 순서와의 유사도 등수', 3],
 ['132번째 자기자신 순서와의 유사도 등수', 1],
 ['133번째 자기자신 순서와의 유사도 등수', 1],
 ['134번째 자기자신 순서와의 유사도 등수', 10],
 ['135번째 자기자신 순서와의 유사도 등수', 1],
 ['136번째 자기자신 순서와의 유사도 등수', 1],
 ['137번째 자기자신 순서와의 유사도 등수', 2],
 ['138번째 자기자신 순서와의 유사도 등수', 1],
 ['139번째 자기자신 순서와의 유사도 등수', 1],
 ['140번째 자기자신 순서와의 유사도 등수', 1],
 ['141번째 자기자신 순서와의 유사도 등수', 2],
 ['142번째 자기자신 순서와의 유사도 등수', 1],
 ['143번째 자기자신 순서와의 유사도 등수', 1],
 ['144번째 자기자신 순서와의 유사도 등수', 1],
 ['145번째 자기자신 순서와의 유사도 등수', 1],
 ['146번째 자기자신 순서와의 유사도 등수', 4],
 ['147번째 자기자신 순서와의 유사도 등수', 2],
 ['148번째 자기자신 순서와의 유사도 등수', 2],
 ['149번째 자기자신 순서와의 유사도 등수', 5],
 ['150번째 자기자신 순서와의 유사도 등수', 1],
 ['151번째 자기자신 순서와의 유사도 등수', 20],
 ['152번째 자기자신 순서와의 유사도 등수', 3],
 ['153번째 자기자신 순서와의 유사도 등수', 27],
 ['154번째 자기자신 순서와의 유사도 등수', 1],
 ['155번째 자기자신 순서와의 유사도 등수', 1],
 ['156번째 자기자신 순서와의 유사도 등수', 1],
 ['157번째 자기자신 순서와의 유사도 등수', 4],
 ['158번째 자기자신 순서와의 유사도 등수', 1],
 ['159번째 자기자신 순서와의 유사도 등수', 81],
 ['160번째 자기자신 순서와의 유사도 등수', 2],
 ['161번째 자기자신 순서와의 유사도 등수', 2],
 ['162번째 자기자신 순서와의 유사도 등수', 1],
 ['163번째 자기자신 순서와의 유사도 등수', 1],
 ['164번째 자기자신 순서와의 유사도 등수', 5],
 ['165번째 자기자신 순서와의 유사도 등수', 1],
 ['166번째 자기자신 순서와의 유사도 등수', 1],
 ['167번째 자기자신 순서와의 유사도 등수', 1],
 ['168번째 자기자신 순서와의 유사도 등수', 2],
 ['169번째 자기자신 순서와의 유사도 등수', 15],
 ['170번째 자기자신 순서와의 유사도 등수', 1],
 ['171번째 자기자신 순서와의 유사도 등수', 15],
 ['172번째 자기자신 순서와의 유사도 등수', 1],
 ['173번째 자기자신 순서와의 유사도 등수', 1],
 ['174번째 자기자신 순서와의 유사도 등수', 1],
 ['175번째 자기자신 순서와의 유사도 등수', 2],
 ['176번째 자기자신 순서와의 유사도 등수', 4],
 ['177번째 자기자신 순서와의 유사도 등수', 6],
 ['178번째 자기자신 순서와의 유사도 등수', 1],
 ['179번째 자기자신 순서와의 유사도 등수', 1],
 ['180번째 자기자신 순서와의 유사도 등수', 1],
 ['181번째 자기자신 순서와의 유사도 등수', 3],
 ['182번째 자기자신 순서와의 유사도 등수', 2],
 ['183번째 자기자신 순서와의 유사도 등수', 1],
 ['184번째 자기자신 순서와의 유사도 등수', 1],
 ['185번째 자기자신 순서와의 유사도 등수', 2],
 ['186번째 자기자신 순서와의 유사도 등수', 23],
 ['187번째 자기자신 순서와의 유사도 등수', 2],
 ['188번째 자기자신 순서와의 유사도 등수', 1],
 ['189번째 자기자신 순서와의 유사도 등수', 2],
 ['190번째 자기자신 순서와의 유사도 등수', 1],
 ['191번째 자기자신 순서와의 유사도 등수', 35],
 ['192번째 자기자신 순서와의 유사도 등수', 1],
 ['193번째 자기자신 순서와의 유사도 등수', 1],
 ['194번째 자기자신 순서와의 유사도 등수', 4],
 ['195번째 자기자신 순서와의 유사도 등수', 1],
 ['196번째 자기자신 순서와의 유사도 등수', 1],
 ['197번째 자기자신 순서와의 유사도 등수', 1],
 ['198번째 자기자신 순서와의 유사도 등수', 56],
 ['199번째 자기자신 순서와의 유사도 등수', 1]]

In [13]:
self_orders_num = [i[1] for i in self_orders]
np.mean(self_orders_num)

8.34

In [14]:
self_orders_num

[32,
 4,
 7,
 14,
 21,
 4,
 10,
 2,
 1,
 1,
 10,
 2,
 17,
 1,
 10,
 14,
 1,
 9,
 1,
 2,
 1,
 3,
 1,
 6,
 6,
 4,
 1,
 1,
 1,
 2,
 3,
 6,
 6,
 2,
 1,
 1,
 11,
 1,
 1,
 14,
 1,
 7,
 7,
 3,
 1,
 1,
 2,
 17,
 1,
 1,
 4,
 4,
 1,
 1,
 1,
 149,
 1,
 21,
 2,
 1,
 27,
 2,
 1,
 7,
 16,
 100,
 1,
 1,
 30,
 2,
 1,
 1,
 8,
 1,
 9,
 4,
 1,
 42,
 146,
 1,
 1,
 3,
 40,
 1,
 1,
 2,
 4,
 31,
 1,
 2,
 40,
 3,
 1,
 1,
 1,
 1,
 6,
 2,
 5,
 1,
 1,
 6,
 1,
 2,
 1,
 3,
 14,
 1,
 84,
 6,
 1,
 1,
 24,
 2,
 36,
 3,
 1,
 1,
 2,
 1,
 3,
 1,
 2,
 14,
 19,
 1,
 3,
 1,
 32,
 1,
 6,
 3,
 1,
 1,
 10,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 4,
 2,
 2,
 5,
 1,
 20,
 3,
 27,
 1,
 1,
 1,
 4,
 1,
 81,
 2,
 2,
 1,
 1,
 5,
 1,
 1,
 1,
 2,
 15,
 1,
 15,
 1,
 1,
 1,
 2,
 4,
 6,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 2,
 23,
 2,
 1,
 2,
 1,
 35,
 1,
 1,
 4,
 1,
 1,
 1,
 56,
 1]

In [15]:
self_orders_num_df = pd.DataFrame(self_orders_num,columns = ["등수"])

In [16]:
self_orders_num_df

     등수
0    32
1     4
2     7
3    14
4    21
..   ..
195   1
196   1
197   1
198  56
199   1

[200 rows x 1 columns]

In [17]:
np.mean(self_orders_num)

8.34

In [18]:
high_concat = pd.concat([cos_dis_same_df, self_orders_num_df], axis=1)

In [19]:
high_concat.to_excel(r'C:\Users\user\Desktop\학술대회 2차\결과물\sbert_concat_high.xlsx', index=False)