In [2]:
import pandas as pd
import numpy as np

In [3]:
sbert_voc_middle = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\sbert_voc_middle.npy")
sbert_sen_middle = np.load(r"C:\Users\user\Desktop\학술대회 2차\벡터\sbert_sen_middle.npy")

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

cos_dis = cosine_similarity(sbert_voc_middle, sbert_sen_middle)

In [6]:
cos_dis

array([[ 0.53134096,  0.23481564,  0.27402425, ...,  0.26204437,
         0.12277645,  0.0149312 ],
       [ 0.18110634,  0.4248159 ,  0.34913388, ...,  0.25146303,
         0.06405203,  0.22809936],
       [ 0.24655768,  0.15283082,  0.3710239 , ...,  0.3568756 ,
         0.11477955,  0.14255878],
       ...,
       [ 0.37056625,  0.13375168,  0.313723  , ...,  0.6323401 ,
         0.17526925,  0.28642932],
       [ 0.08125175,  0.16701694,  0.11324487, ...,  0.10490911,
         0.8317358 ,  0.11158959],
       [ 0.10623369, -0.03043028,  0.12552357, ...,  0.28802857,
         0.07612406,  0.32161486]], dtype=float32)

In [7]:
cos_dis_same = []

for i in range(len(cos_dis)):
    same = cos_dis[i][i]
    #print(same)
    cos_dis_same.append([i, same])

In [8]:
cos_dis_same_df = pd.DataFrame(cos_dis_same, columns=["index","자기자신유사도"])

In [9]:
cos_dis_same_df

     index   자기자신유사도
0        0  0.531341
1        1  0.424816
2        2  0.371024
3        3  0.525620
4        4  0.265504
..     ...       ...
195    195  0.364030
196    196  0.668226
197    197  0.632340
198    198  0.831736
199    199  0.321615

[200 rows x 2 columns]

In [10]:
same_mean = np.mean(same)
same_mean

0.32161486

In [11]:
cos_dis_list = cos_dis.tolist()

In [12]:
from tqdm import tqdm
self_orders=[]

for i in tqdm(range(len(cos_dis))):
    self_num=cos_dis_list[i][i]
    case=cos_dis_list[i]
    new_case=sorted(case,reverse=True)
    self_order=new_case.index(self_num)
    
    self_case=[str(i)+'번째 자기자신 순서와의 유사도 등수',int(self_order) + 1]
    self_orders.append(self_case)

100%|██████████| 200/200 [00:00<00:00, 100078.84it/s]

In [13]:
self_orders

[['0번째 자기자신 순서와의 유사도 등수', 2],
 ['1번째 자기자신 순서와의 유사도 등수', 13],
 ['2번째 자기자신 순서와의 유사도 등수', 14],
 ['3번째 자기자신 순서와의 유사도 등수', 1],
 ['4번째 자기자신 순서와의 유사도 등수', 1],
 ['5번째 자기자신 순서와의 유사도 등수', 1],
 ['6번째 자기자신 순서와의 유사도 등수', 3],
 ['7번째 자기자신 순서와의 유사도 등수', 2],
 ['8번째 자기자신 순서와의 유사도 등수', 1],
 ['9번째 자기자신 순서와의 유사도 등수', 1],
 ['10번째 자기자신 순서와의 유사도 등수', 1],
 ['11번째 자기자신 순서와의 유사도 등수', 1],
 ['12번째 자기자신 순서와의 유사도 등수', 33],
 ['13번째 자기자신 순서와의 유사도 등수', 4],
 ['14번째 자기자신 순서와의 유사도 등수', 4],
 ['15번째 자기자신 순서와의 유사도 등수', 3],
 ['16번째 자기자신 순서와의 유사도 등수', 1],
 ['17번째 자기자신 순서와의 유사도 등수', 2],
 ['18번째 자기자신 순서와의 유사도 등수', 84],
 ['19번째 자기자신 순서와의 유사도 등수', 7],
 ['20번째 자기자신 순서와의 유사도 등수', 3],
 ['21번째 자기자신 순서와의 유사도 등수', 1],
 ['22번째 자기자신 순서와의 유사도 등수', 5],
 ['23번째 자기자신 순서와의 유사도 등수', 2],
 ['24번째 자기자신 순서와의 유사도 등수', 1],
 ['25번째 자기자신 순서와의 유사도 등수', 1],
 ['26번째 자기자신 순서와의 유사도 등수', 9],
 ['27번째 자기자신 순서와의 유사도 등수', 1],
 ['28번째 자기자신 순서와의 유사도 등수', 3],
 ['29번째 자기자신 순서와의 유사도 등수', 1],
 ['30번째 자기자신 순서와의 유사도 등수', 1],
 ['31번째 자기자신 순서와의 유사도 등수', 20],
 ['32번째 자기자신 순서와의 유사도 등수', 49],
 ['33번째 자기자신 순서와의 유사도 등수', 67],
 ['34번째 자기자신 순서와의 유사도 등수', 1],
 ['35번째 자기자신 순서와의 유사도 등수', 1],
 ['36번째 자기자신 순서와의 유사도 등수', 13],
 ['37번째 자기자신 순서와의 유사도 등수', 56],
 ['38번째 자기자신 순서와의 유사도 등수', 8],
 ['39번째 자기자신 순서와의 유사도 등수', 39],
 ['40번째 자기자신 순서와의 유사도 등수', 35],
 ['41번째 자기자신 순서와의 유사도 등수', 1],
 ['42번째 자기자신 순서와의 유사도 등수', 16],
 ['43번째 자기자신 순서와의 유사도 등수', 1],
 ['44번째 자기자신 순서와의 유사도 등수', 3],
 ['45번째 자기자신 순서와의 유사도 등수', 1],
 ['46번째 자기자신 순서와의 유사도 등수', 1],
 ['47번째 자기자신 순서와의 유사도 등수', 1],
 ['48번째 자기자신 순서와의 유사도 등수', 1],
 ['49번째 자기자신 순서와의 유사도 등수', 1],
 ['50번째 자기자신 순서와의 유사도 등수', 4],
 ['51번째 자기자신 순서와의 유사도 등수', 1],
 ['52번째 자기자신 순서와의 유사도 등수', 1],
 ['53번째 자기자신 순서와의 유사도 등수', 1],
 ['54번째 자기자신 순서와의 유사도 등수', 3],
 ['55번째 자기자신 순서와의 유사도 등수', 6],
 ['56번째 자기자신 순서와의 유사도 등수', 2],
 ['57번째 자기자신 순서와의 유사도 등수', 95],
 ['58번째 자기자신 순서와의 유사도 등수', 1],
 ['59번째 자기자신 순서와의 유사도 등수', 2],
 ['60번째 자기자신 순서와의 유사도 등수', 13],
 ['61번째 자기자신 순서와의 유사도 등수', 1],
 ['62번째 자기자신 순서와의 유사도 등수', 10],
 ['63번째 자기자신 순서와의 유사도 등수', 3],
 ['64번째 자기자신 순서와의 유사도 등수', 2],
 ['65번째 자기자신 순서와의 유사도 등수', 1],
 ['66번째 자기자신 순서와의 유사도 등수', 5],
 ['67번째 자기자신 순서와의 유사도 등수', 4],
 ['68번째 자기자신 순서와의 유사도 등수', 1],
 ['69번째 자기자신 순서와의 유사도 등수', 3],
 ['70번째 자기자신 순서와의 유사도 등수', 1],
 ['71번째 자기자신 순서와의 유사도 등수', 90],
 ['72번째 자기자신 순서와의 유사도 등수', 5],
 ['73번째 자기자신 순서와의 유사도 등수', 49],
 ['74번째 자기자신 순서와의 유사도 등수', 2],
 ['75번째 자기자신 순서와의 유사도 등수', 1],
 ['76번째 자기자신 순서와의 유사도 등수', 3],
 ['77번째 자기자신 순서와의 유사도 등수', 1],
 ['78번째 자기자신 순서와의 유사도 등수', 2],
 ['79번째 자기자신 순서와의 유사도 등수', 4],
 ['80번째 자기자신 순서와의 유사도 등수', 2],
 ['81번째 자기자신 순서와의 유사도 등수', 1],
 ['82번째 자기자신 순서와의 유사도 등수', 1],
 ['83번째 자기자신 순서와의 유사도 등수', 4],
 ['84번째 자기자신 순서와의 유사도 등수', 7],
 ['85번째 자기자신 순서와의 유사도 등수', 1],
 ['86번째 자기자신 순서와의 유사도 등수', 1],
 ['87번째 자기자신 순서와의 유사도 등수', 6],
 ['88번째 자기자신 순서와의 유사도 등수', 9],
 ['89번째 자기자신 순서와의 유사도 등수', 65],
 ['90번째 자기자신 순서와의 유사도 등수', 1],
 ['91번째 자기자신 순서와의 유사도 등수', 115],
 ['92번째 자기자신 순서와의 유사도 등수', 8],
 ['93번째 자기자신 순서와의 유사도 등수', 1],
 ['94번째 자기자신 순서와의 유사도 등수', 1],
 ['95번째 자기자신 순서와의 유사도 등수', 1],
 ['96번째 자기자신 순서와의 유사도 등수', 32],
 ['97번째 자기자신 순서와의 유사도 등수', 3],
 ['98번째 자기자신 순서와의 유사도 등수', 1],
 ['99번째 자기자신 순서와의 유사도 등수', 1],
 ['100번째 자기자신 순서와의 유사도 등수', 1],
 ['101번째 자기자신 순서와의 유사도 등수', 1],
 ['102번째 자기자신 순서와의 유사도 등수', 1],
 ['103번째 자기자신 순서와의 유사도 등수', 41],
 ['104번째 자기자신 순서와의 유사도 등수', 1],
 ['105번째 자기자신 순서와의 유사도 등수', 6],
 ['106번째 자기자신 순서와의 유사도 등수', 5],
 ['107번째 자기자신 순서와의 유사도 등수', 87],
 ['108번째 자기자신 순서와의 유사도 등수', 1],
 ['109번째 자기자신 순서와의 유사도 등수', 1],
 ['110번째 자기자신 순서와의 유사도 등수', 2],
 ['111번째 자기자신 순서와의 유사도 등수', 1],
 ['112번째 자기자신 순서와의 유사도 등수', 1],
 ['113번째 자기자신 순서와의 유사도 등수', 34],
 ['114번째 자기자신 순서와의 유사도 등수', 1],
 ['115번째 자기자신 순서와의 유사도 등수', 4],
 ['116번째 자기자신 순서와의 유사도 등수', 1],
 ['117번째 자기자신 순서와의 유사도 등수', 1],
 ['118번째 자기자신 순서와의 유사도 등수', 1],
 ['119번째 자기자신 순서와의 유사도 등수', 1],
 ['120번째 자기자신 순서와의 유사도 등수', 1],
 ['121번째 자기자신 순서와의 유사도 등수', 4],
 ['122번째 자기자신 순서와의 유사도 등수', 2],
 ['123번째 자기자신 순서와의 유사도 등수', 1],
 ['124번째 자기자신 순서와의 유사도 등수', 2],
 ['125번째 자기자신 순서와의 유사도 등수', 1],
 ['126번째 자기자신 순서와의 유사도 등수', 1],
 ['127번째 자기자신 순서와의 유사도 등수', 6],
 ['128번째 자기자신 순서와의 유사도 등수', 149],
 ['129번째 자기자신 순서와의 유사도 등수', 1],
 ['130번째 자기자신 순서와의 유사도 등수', 1],
 ['131번째 자기자신 순서와의 유사도 등수', 1],
 ['132번째 자기자신 순서와의 유사도 등수', 25],
 ['133번째 자기자신 순서와의 유사도 등수', 4],
 ['134번째 자기자신 순서와의 유사도 등수', 3],
 ['135번째 자기자신 순서와의 유사도 등수', 1],
 ['136번째 자기자신 순서와의 유사도 등수', 3],
 ['137번째 자기자신 순서와의 유사도 등수', 51],
 ['138번째 자기자신 순서와의 유사도 등수', 1],
 ['139번째 자기자신 순서와의 유사도 등수', 1],
 ['140번째 자기자신 순서와의 유사도 등수', 1],
 ['141번째 자기자신 순서와의 유사도 등수', 1],
 ['142번째 자기자신 순서와의 유사도 등수', 1],
 ['143번째 자기자신 순서와의 유사도 등수', 5],
 ['144번째 자기자신 순서와의 유사도 등수', 24],
 ['145번째 자기자신 순서와의 유사도 등수', 1],
 ['146번째 자기자신 순서와의 유사도 등수', 62],
 ['147번째 자기자신 순서와의 유사도 등수', 33],
 ['148번째 자기자신 순서와의 유사도 등수', 2],
 ['149번째 자기자신 순서와의 유사도 등수', 72],
 ['150번째 자기자신 순서와의 유사도 등수', 1],
 ['151번째 자기자신 순서와의 유사도 등수', 1],
 ['152번째 자기자신 순서와의 유사도 등수', 10],
 ['153번째 자기자신 순서와의 유사도 등수', 1],
 ['154번째 자기자신 순서와의 유사도 등수', 15],
 ['155번째 자기자신 순서와의 유사도 등수', 2],
 ['156번째 자기자신 순서와의 유사도 등수', 36],
 ['157번째 자기자신 순서와의 유사도 등수', 1],
 ['158번째 자기자신 순서와의 유사도 등수', 1],
 ['159번째 자기자신 순서와의 유사도 등수', 4],
 ['160번째 자기자신 순서와의 유사도 등수', 40],
 ['161번째 자기자신 순서와의 유사도 등수', 2],
 ['162번째 자기자신 순서와의 유사도 등수', 1],
 ['163번째 자기자신 순서와의 유사도 등수', 1],
 ['164번째 자기자신 순서와의 유사도 등수', 2],
 ['165번째 자기자신 순서와의 유사도 등수', 1],
 ['166번째 자기자신 순서와의 유사도 등수', 7],
 ['167번째 자기자신 순서와의 유사도 등수', 1],
 ['168번째 자기자신 순서와의 유사도 등수', 1],
 ['169번째 자기자신 순서와의 유사도 등수', 1],
 ['170번째 자기자신 순서와의 유사도 등수', 1],
 ['171번째 자기자신 순서와의 유사도 등수', 1],
 ['172번째 자기자신 순서와의 유사도 등수', 4],
 ['173번째 자기자신 순서와의 유사도 등수', 71],
 ['174번째 자기자신 순서와의 유사도 등수', 1],
 ['175번째 자기자신 순서와의 유사도 등수', 1],
 ['176번째 자기자신 순서와의 유사도 등수', 6],
 ['177번째 자기자신 순서와의 유사도 등수', 2],
 ['178번째 자기자신 순서와의 유사도 등수', 1],
 ['179번째 자기자신 순서와의 유사도 등수', 3],
 ['180번째 자기자신 순서와의 유사도 등수', 7],
 ['181번째 자기자신 순서와의 유사도 등수', 3],
 ['182번째 자기자신 순서와의 유사도 등수', 2],
 ['183번째 자기자신 순서와의 유사도 등수', 3],
 ['184번째 자기자신 순서와의 유사도 등수', 10],
 ['185번째 자기자신 순서와의 유사도 등수', 15],
 ['186번째 자기자신 순서와의 유사도 등수', 1],
 ['187번째 자기자신 순서와의 유사도 등수', 15],
 ['188번째 자기자신 순서와의 유사도 등수', 1],
 ['189번째 자기자신 순서와의 유사도 등수', 1],
 ['190번째 자기자신 순서와의 유사도 등수', 38],
 ['191번째 자기자신 순서와의 유사도 등수', 1],
 ['192번째 자기자신 순서와의 유사도 등수', 7],
 ['193번째 자기자신 순서와의 유사도 등수', 2],
 ['194번째 자기자신 순서와의 유사도 등수', 1],
 ['195번째 자기자신 순서와의 유사도 등수', 2],
 ['196번째 자기자신 순서와의 유사도 등수', 1],
 ['197번째 자기자신 순서와의 유사도 등수', 1],
 ['198번째 자기자신 순서와의 유사도 등수', 1],
 ['199번째 자기자신 순서와의 유사도 등수', 1]]

In [14]:
self_orders_num = [i[1] for i in self_orders]
np.mean(self_orders_num)

10.43

In [15]:
self_orders_num

[2,
 13,
 14,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 33,
 4,
 4,
 3,
 1,
 2,
 84,
 7,
 3,
 1,
 5,
 2,
 1,
 1,
 9,
 1,
 3,
 1,
 1,
 20,
 49,
 67,
 1,
 1,
 13,
 56,
 8,
 39,
 35,
 1,
 16,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 3,
 6,
 2,
 95,
 1,
 2,
 13,
 1,
 10,
 3,
 2,
 1,
 5,
 4,
 1,
 3,
 1,
 90,
 5,
 49,
 2,
 1,
 3,
 1,
 2,
 4,
 2,
 1,
 1,
 4,
 7,
 1,
 1,
 6,
 9,
 65,
 1,
 115,
 8,
 1,
 1,
 1,
 32,
 3,
 1,
 1,
 1,
 1,
 1,
 41,
 1,
 6,
 5,
 87,
 1,
 1,
 2,
 1,
 1,
 34,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 4,
 2,
 1,
 2,
 1,
 1,
 6,
 149,
 1,
 1,
 1,
 25,
 4,
 3,
 1,
 3,
 51,
 1,
 1,
 1,
 1,
 1,
 5,
 24,
 1,
 62,
 33,
 2,
 72,
 1,
 1,
 10,
 1,
 15,
 2,
 36,
 1,
 1,
 4,
 40,
 2,
 1,
 1,
 2,
 1,
 7,
 1,
 1,
 1,
 1,
 1,
 4,
 71,
 1,
 1,
 6,
 2,
 1,
 3,
 7,
 3,
 2,
 3,
 10,
 15,
 1,
 15,
 1,
 1,
 38,
 1,
 7,
 2,
 1,
 2,
 1,
 1,
 1,
 1]

In [16]:
self_orders_num_df = pd.DataFrame(self_orders_num,columns = ["등수"])

In [17]:
self_orders_num_df

     등수
0     2
1    13
2    14
3     1
4     1
..   ..
195   2
196   1
197   1
198   1
199   1

[200 rows x 1 columns]

In [18]:
np.mean(self_orders_num)

10.43

In [19]:
middle_concat = pd.concat([cos_dis_same_df, self_orders_num_df], axis=1)

In [20]:
middle_concat.to_excel(r'C:\Users\user\Desktop\학술대회 2차\결과물\sbert_concat_middle.xlsx', index=False)